<%- layout('layouts/main.ejs')  %>
<figure>
    <blockquote class="blockquote">
      <p><h3>Bienvenidos al Sistema LOGIN</h3></p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Navega por el menú y logeate...<cite title="Source Title"></cite>
    </figcaption>
  </figure>